body{
    background-image: url("/bg.jpg");
}

.bg-light {
    background-color: #f8f9faa2!important;
}

.newsimg {

    width : 330px;
    height: 170px;
}

.main {
    display: flex;
    flex-wrap: wrap;
    justify-items: space-around;
    margin-left : 20px;

}

h3 {
    font-family: 'Playfair Display', serif;
    font-family: 'Noto Serif', serif;
    font-family: 'Libre Baskerville', serif;
}

#total {
    font-family: 'Playfair Display', serif;
    font-family: 'Noto Serif', serif;
    font-family: 'Libre Baskerville', serif;
    font-size: 20px;
}

.card {
    display: flex;
    flex-direction: column;
    width: 330px;
    background-color : #f8f9faa1!important;
}
.text-center {
    text-align: center!important;
}

button {
    margin: 30px;
}

#topbtn {
    position: fixed;
    bottom: 25px;
    right: 40px;
}


.navbar {
    position: relative;
}

.logo-center {
    position: absolute;
    left: 50%;
    margin-left: -50px !important;  /* 50% of your logo width */
    display: block;
}

.sources{
    border-radius: 20px;
}

::-webkit-scrollbar {width: 12px; height: 12px;  }
::-webkit-scrollbar-button:start:decrement, 
::-webkit-scrollbar-button:end:increment {display: block; width: 12px;height: 12px; background: url() rgb(46, 46, 46);}
::-webkit-scrollbar-track {     background: rgb(255, 255, 255); }
::-webkit-scrollbar-thumb {  background: rgb(46, 46, 46);  }
