body{
    background-image: url("/bg.jpg");
}

.bg-light {
    background-color: #f8f9faa2!important;
}

.newsimg {

    width : 300px;
    height: 170px;
    margin: 10px;
}

.main {
    display: flex;
    flex-wrap: wrap;
    justify-items: space-around;

}

h3 {
    font-family: 'Playfair Display', serif;
    font-family: 'Noto Serif', serif;
    font-family: 'Libre Baskerville', serif;
}

#total {
    font-family: 'Playfair Display', serif;
    font-family: 'Noto Serif', serif;
    font-family: 'Libre Baskerville', serif;
    font-size: 20px;
}

.card {
    display: flex;
    flex-direction: column;
    width: 330px;
    background-color : #f8f9fa98!important;
}
.text-center {
    text-align: center!important;
}

button {
    margin: 30px;
}

#topbtn {
    position: fixed;
    bottom: 25px;
    right: 40px;
}


